/* .cm-activeLine {
  background: rgba(34, 255, 0, 0.116) !important;
} */

/* .cm-gutterElement > [title="Unfold line"],
[title="Fold line"] {
  display: none;
} */

/* .cm-editor {
  height: 100%;
} */
